/* stylelint-disable no-descending-specificity */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-family-name-quotes */

@font-face {
  font-family: 'StratosSkyeng';
  src:
    local('fonts'),
    url('fonts/stratosskyengweb-regular.woff') format('woff'),
    url('fonts/stratosskyengweb-regular') format('woff2');
  font-weight: normal;
}

body {
  font-family: 'StratosSkyeng';
  background-color: #004980;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.choose_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #c2f5ff;
  height: 459px;
  width: 480px;
  border-radius: 12px;
}

.choose_level {
  box-sizing: border-box;
  text-align: center;
  width: 208px;
  color: #004980;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.prod_checbox strong {
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-right: 10px;
  letter-spacing: 0.5px;
}

.radio-toolbar input[type='radio'] {
  display: none;
}

.radio-toolbar label {
  height: 98px;
  width: 98px;
  display: inline-block;
  padding: 2px 9px;
  cursor: pointer;
  border: 1px solid #00c2ff;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 12px;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
}

.radio-toolbar label span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #0080c1;
}

.radio-toolbar input[type='radio']:checked + label {
  background-color: #00c2ff;
  border: 1px solid #00c2ff;
  color: #fff;
}

.input_level {
  display: flex;
  align-items: center;
}

.radio-toolbar label:hover {
  background-color: #b9ea2c;
  border: 1px solid #b9ea2c;
}

.start_btn {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background-color: #7ac100;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-family: 'StratosSkyeng';
}

.restart_btn {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  background-color: #7ac100;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border: none;
  font-family: 'StratosSkyeng';
  margin-right: 50px;
}

.game-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 10px;
  align-content: center;
}

.timer_btn_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.timer_img {
  margin-left: 50px;
}

.img_box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card {
  height: 133px;
  width: 95px;
  background-color: forestgreen;
}
